@import '../variables';

.coordinate-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
  z-index: 90;
}

.clickable {
  width: auto;
  button {
    width: max-content;
  }
}

.date {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 10%;
}

.coordinate-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5%;
}

.primary-button {
  margin-left: 1%;
}

.secondary-button {
  margin-right: 1%;
}

.date-label {
  font-size: 1.2rem;
  font-weight: bold;
}

.date-input {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: gray;
}

.payment {
  img {
    max-width: 5rem;
    height: 100%;
    margin: 10px;
    padding: 2.5%;
    border-radius: 10px;
  }

  img:hover {
    cursor: pointer;
  }
}

.payment-type {
  span {
    font-size: 0.85rem;
    font-style: italic;
  }
}

.selected-payment {
  border: 2px solid blue;
}

@media screen and (max-width: 767px) {
  .coordinate-container {
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .date,
  .payment {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .coordinate-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
  }
}