@import '../variables';

.grid-filters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  font-size: 1.1rem;
}

.filter-col {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.selectable-filter.selected {
  background-color: $pets-violet;
  color: $background-color;
}

.selectable-filter.selected:hover {
  background-color: $pets-violet;
  color: $background-color;
}

.filter-btn {
  display: flex;
  align-items: flex-end;

  button {
    height: 3rem;
    width: 7rem;
    margin-left: 2rem;
  }
}

.prod-filters {
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  font-size: 1.1rem;
}

.filter-row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.filter-col {
  flex: 1;
  margin: 10px;
}

.switches {
  display: flex;
  gap: 0.5rem;
}

.selectable-filter {
  padding: 5px 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.selectable-filter:hover {
  background-color: #ccc;
}

.ranges {
  position: relative;
  margin-top: 20px;
}

.range-labels {
  display: flex;
  justify-content: space-between;

  span {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
  }
}

.info-filters {
  font-size: 1rem;
  font-weight: normal;
  white-space: nowrap;
  font-style: italic;
  color: $pets-violet;
}

@media (max-width: 1000px) {
  .prod-filters {
    flex-direction: column;
  }

  .filter-btn>button {
    margin: 0
  }

  .switches {
    flex-wrap: wrap;
  }
}


@media (max-width: 768px) {
  .info-filters {
    font-size: 0.75rem;
    white-space: wrap;
  }
}

@media (max-width: 330px) {
  .info-filters {
    font-size: 0.65rem;
    white-space: wrap;
  }
}