@import '../variables';

.animal-selection {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}

.animal-card {
  width: 30vw;
  height: 30vh;
  cursor: pointer;

  img {
    height: 100%;
    width: auto;
    object-fit: cover;
    border-radius: inherit;
  }

  .card-title {
    font-size: 2rem;
    margin: 0 !important;
  }
}

.card-title-container {
  position: absolute;
  bottom: 40%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2%;
  border-radius: 5px;
}

.animal-card:nth-of-type(1) .card-title-container {
  left: 10%;
}

.carousel {
  margin: 1rem auto;
  width: 80%;
  height: 20rem;
}

.carousel-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.carousel-item {
  text-align: center;
  margin: 0;
  height: 100%;
}

.carousel-caption {
  background-color: rgba(49, 49, 49, 0.2);
  padding: 10px;
  border-radius: 5px;
}

.carousel-caption h3 {
  color: white;
  font-size: 1.5rem;
  margin: 0;
}

.carousel-indicators li {
  background-color: #ccc;
}

.carousel-indicators .active {
  background-color: #333;
}

.carousel-inner img {
  width: 100%;
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
}

.highlight-container {
  margin: 1rem auto;
}

.highlight-card {
  width: 15rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-4px);
  }

  .highlight-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    max-height: 15rem;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .highlight-image img {
    height: 12rem;
    width: auto;
    object-fit: cover;
  }

  .card-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }

  .card-text {
    font-size: 0.9rem;
    color: #555;
    margin: 0.25rem 0;
  }

  .new-price {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .old-price {
    font-size: 0.9rem;
    text-decoration: line-through;
  }

  .highlight-details {
    height: 10rem;
  }

  .highlight-btn>button {
    width: 100%;
  }

  .highlight-btn>button:disabled {
    background-color: $pets-violet;
    border-color: $pets-violet;
  }
}

.label-highlight {
  position: absolute;
  top: 5px;
  right: 5px;
  font-style: italic;
  background-color: $pets-red;
  color: $background-color;
  border-radius: 5px;
  box-shadow: 3px 3px 4px rgba(152, 8, 8, 0.8);
  width: fit-content;
  height: fit-content;
  padding: 7px;
  z-index: 299;
}

.custom-carousel {
  margin: auto;
  background-color: #f8f9fa;
  height: 100%;
  width: 80%;
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  width: 25px;
  background-color: #838383;
  border-radius: 5px;
  top: 45%;
  bottom: 45%;
  transition: background-color 0.3s ease-in-out;
}

.custom-carousel .carousel-control-prev:hover,
.custom-carousel .carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
  font-size: 24px;
  color: black;
  transition: color 0.3s ease-in-out;
}

.custom-carousel .carousel-control-prev:hover .carousel-control-prev-icon,
.custom-carousel .carousel-control-next:hover .carousel-control-next-icon {
  color: white;
}

.carousel-indicators {
  display: none !important;
}

.card {
  width: 80%;
  margin: 1rem auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.highlight-card {
  max-width: 12rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.data-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 1rem 1rem 0 1rem;

  p {
    font-size: 1.2rem;
    white-space: wrap;
  }

  span {
    font-style: italic;
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    line-height: 1.5;
    padding: 0;
    font-size: 1.1rem;
    margin: 0;

    li {
      margin-bottom: 10px;
    }
  }

  .highlight {
    color: $pets-violet;
    font-weight: bold;
  }
}

@media only screen and (max-width: 520px) {
  .animal-selection {
    flex-direction: column;
    align-items: center;
  }

  .animal-card {
    width: 90vw;
    height: 25vh;
    cursor: pointer;
    margin: 2% 0;

    img {
      height: 100%;
      width: auto;
      object-fit: cover;
      border-radius: inherit;
    }

    .card-title {
      font-size: 2rem;
      margin: 0 !important;
    }
  }
}