@import '../variables';

.offers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offer-card {
  flex: 0 0 calc(35% - 12px);
  margin-bottom: 10px;
  cursor: pointer;
  margin: 1rem auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  padding: 15px;

  h5 {
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
  }

  .text-offer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
  }
}

.offer-card:hover {
  background-color: #E3E3E3;
}

.selected-offer {
  border: 2px solid $pets-violet;
  border-width: 2px;
}

.selected-offer:hover {
  background-color: $background-color !important;
}

@media only screen and (max-width: 768px) {
  .offers-container {
    flex-direction: column;
  }

  .offer-card {
    width: 80%;
    margin: 0.5rem auto;
  }
}