.offers-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

th {
  text-align: center;
  padding: 8px;
  flex: 1;
}

tbody td {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;

  p {
    margin: 0;
  }
}

tbody:hover {
  cursor: pointer;
}

/* Optional: add some spacing between the table rows */
tbody:not(:last-child) {
  margin-bottom: 8px;
}

.selected-offer {
  border: 2px solid blue;
}

/* Media queries for responsive design */

@media only screen and (max-width: 768px) {

  /* Adjust table styles for small screens */
  table {
    font-size: 16px;
    width: 80%;
  }

  th,
  td {
    padding: 6px;
  }
}

@media only screen and (max-width: 480px) {

  /* Adjust table styles for phones */
  table {
    font-size: 14px;
    width: 80%;
  }

  th,
  td {
    padding: 4px;
  }

  .offers-table {
    flex-direction: column;
  }

  tbody td {
    align-items: center;
  }
}