@import '../variables';

.order-container {
  display: flex;
  justify-items: center;
  align-items: flex-start;
  margin-left: 10%;
  width: 80%;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.order-info {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.order-info-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-order,
.address-order,
.offer-order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 10px;
  width: 20rem;
}

.product-order .product-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product-order .product-details p {
  margin-right: 10px;
}

.product-order .product-details .product-name {
  flex-basis: 50%;
}

.product-order .product-details .product-sec-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%;
}

.product-order_item {
  width: 100%;
}

.product-name {
  display: flex;
  justify-content: flex-start;

  p {
    font-size: 20px;
  }
}

.product-sec-details {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  color: gray;
  margin-bottom: 10px;
  gap: 10%;

  p {
    font-size: 16px;
  }
}

p {
  margin: 0;
  white-space: nowrap;
}

.order-total {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-top: 10px;

  p {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    word-spacing: 1rem;
  }
}

.order-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.offer-order p {
  font-size: 20px;
  margin-bottom: 10px;
  word-spacing: 2px;
}

.address-order {

  p {
    font-size: 16px;
  }
}

.address-name>p {
  font-size: 20px;
}

.address-extra>p {
  color: gray;
}

.address-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 16px;
  color: gray;
  margin: 10px 0;
  gap: 15%;
}

@media only screen and (max-width: 767px) {
  .order-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    width: 90%;
  }

  .product-order,
  .address-order,
  .offer-order {
    margin: 10px 0;
    width: 100%;
  }

  .product-order .product-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-order .product-details .product-name {
    flex-basis: auto;
    margin-bottom: 10px;
  }

  .product-sec-details {
    justify-content: space-evenly;
  }

  .product-order .product-details .product-sec-details {
    flex-basis: auto;
    margin-bottom: 10px;
  }

  .product-name p {
    font-size: 16px;
  }

  .product-sec-details p {
    font-size: 14px;
  }

  .order-total p {
    font-size: 16px;
    word-spacing: 0.5rem;
  }

  .address-order p {
    font-size: 14px;
  }

  .address-name p {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .address-extra p {
    font-size: 12px;
  }

  .address-details p {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 767px) and (max-width:968px) {
  .order-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    width: 90%;
  }
}