@import '../variables';

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-products {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  width: 98%;
  margin: 0 auto;
  padding: 1rem;
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  overflow: hidden;
  height: 35vh;
  width: 45%;
  margin: 0.5rem;
  z-index: 80;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card_img {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.product-card_img img {
  height: 100%;
  max-width: 10rem;
  max-height: 15rem;
  object-fit: cover;
}

.product-card_details {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.product-card_name {
  height: 10%;

  h3 {
    font-size: calc(1rem + 0.3vw);
  }
}

.product-card_totals {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0.5rem 0;
}

.product-card_subprod {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subprod__button {
  display: flex;
  justify-content: center;
  padding: $padding;

  .not-selected {
    background-color: $secondary-button-color;
    border: 1px solid $pets-violet;
    border-radius: 5px;
    color: $pets-violet;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 5px 10px;
    transition: background-color 0.2s ease-in-out;
    margin: $margin-button;
  }

  .not-selected:hover {
    background-color: #ccc;
  }

  .selected {
    background-color: $pets-violet;
    border: 1px solid $primary-text-button-color;
    border-radius: 5px;
    color: $primary-text-button-color;
    cursor: default;
    font-size: 1rem;
    padding: 5px 10px;
    transition: background-color 0.2s ease-in-out;
    margin: $margin-button;
  }
}

.product-card__quantity {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.product-card__quantity button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 0;
  color: black;
}

.product-card__quantity button:hover {
  background-color: #ccc;
}

.product-card__quantity p.number {
  margin: 0 0.5rem;
  font-size: calc(1rem + 0.2vw);
}

.subprod__price {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  width: 8rem;

  .not-discount {
    text-decoration: line-through;
    font-size: 80%;
  }

  .discount {
    font-size: 110%;
    font-weight: 500;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .page-link.active,
  .active>.page-link {
    background-color: $pets-violet;
    border-color: $pets-violet;
    color: $background-color;
  }

  .page-link {
    color: $pets-violet;
  }

  .page-link.active,
  .active>.page-link:hover {
    color: $pets-violet;
  }

  &__item {
    margin: 0 10px;
    cursor: pointer;

    &--active {
      font-weight: bold;
    }

    &--disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &__link {
      display: inline-block;
      padding: 10px;
      border: 1px solid gray;
      border-radius: 5px;
      color: gray;
      text-decoration: none;

      &:hover {
        background-color: gray;
        color: white;
      }
    }
  }
}

.cart-item-added {
  display: flex;
  align-items: center;
  padding: 12px;
  margin-bottom: 2px;
  position: fixed;
  top: 5%;
  left: 80%;
  background-color: $background-color;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%);
  animation: fade-out 2s ease forwards;
  z-index: 350;
  width: 25%;

  .product-quantity {
    border: none;
  }

}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animal-search-image {
  width: 3rem;
  object-fit: cover;
  cursor: pointer;
}

.selected {
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(91, 91, 91, 0.5);
}

@media only screen and (min-width: 768px) {

  .subprod__button {
    flex-wrap: nowrap;
  }

  .subprod__price {
    margin-top: 0;
  }
}

@media only screen and (max-width: 520px) {
  .list-products {
    flex-direction: column;
  }

  .product-card {
    width: 80%;
    height: fit-content;
    flex-direction: column;
  }

  .product-card_img {
    width: 45%;
  }

  .product-card_img img {
    width: 100%;
  }

  .product-card_totals {
    flex-direction: column;
  }

  .product-card_add button {
    width: 80%;
  }

  .cart-item-added {
    width: 50%;
    left: 60%;
  }

}

@media only screen and (min-width: 520px) and (max-width: 768px) {
  .product-card {
    width: 80%;
  }

  .cart-item-added {
    width: 40%;
    left: 65%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .product-card {
    width: 48%;
  }

  .product-card_img img {
    max-width: 100%;
    max-width: 100%;
  }

  .cart-item-added {
    width: 40%;
    left: 70%;
  }
}

@media only screen and (min-width: 1490px) {
  .product-card {
    width: 31%;
  }
}