@import './variables';

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: $pets-yellow;
  position: sticky;
  top: 0%;
  width: 100%;
  z-index: 100;

  .logo-nav {
    align-items: center;
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
    font-size: 1.5rem;
    width: 10vw;

    img {
      max-height: 12vh;
      min-height: max-content;
      padding-left: 1.5%;
    }
  }

  .user-nav {
    align-items: center;
    display: flex;
    height: 12vh;
    justify-content: center;
    margin-right: 5%;

    .user-nav_sesion {
      padding-right: 1.5%;
      min-height: max-content;

      .user-nav_sesion_options {
        display: flex;

        .d-inline_mx-2:active {
          box-shadow: none !important;
        }

        .dropdown-custom:active {
          box-shadow: none !important;
        }

        .user-nav_sesion_icon:active {
          box-shadow: none !important;
        }
      }
    }

    .link-modal {
      padding: 10%;
      border: 1px solid $background-color;
      border-radius: 5px;

      .icon-nav {
        color: $background-color;
      }

      .icon-nav:active {
        color: $background-color;
      }

      .icon-nav:hover {
        filter: opacity(.5);
      }

      .icon-nav:active {
        box-shadow: none !important;
      }
    }

  }


  .dropdown-custom {
    background-color: $pets-yellow;
    border: none;
  }

  .dropdown-custom:active {
    background-color: $pets-blue;
  }

  .dropdown-toggle::after {
    display: none;
  }
}