@import '../variables';
@import '../variables';

.modal-register-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .modal-body_logo {
    max-width: 15%;
  }

  .modal-body_google {
    max-width: 7%;
    margin-bottom: $margin-input;
    cursor: pointer;

  }

  .modal-body_google:hover {
    filter: opacity(.8);
    transition: 1s;
  }

  .modal-body_registerform {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 18px;

    input {
      font-size: 18px;
    }
  }

  .modal-body_register {
    margin: 3% 0 5% 0;
  }
}

.col {
  width: 80%;
}

@media only screen and (max-width: 767px) {
  .modal-register-body {
    height: auto;
  }

  .modal-register {
    max-width: 100%;
  }

  .modal-body_logo {
    max-width: 30%;
  }

  .modal-body_google {
    max-width: 15%;
  }

  .modal-body_registerform {
    width: 100%;
  }

  .register-form_group input {
    width: 100%;
  }

  .modal-body_register {
    margin: 5% 0;
  }
}