@import '../variables';
@import '../variables';

.modal-register-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .modal-body_logo {
    max-width: 15%;
  }

  .modal-body_google {
    max-width: 7%;
    border: $border;
    border-radius: $border-radius;
    margin-bottom: $margin-input;
    cursor: pointer;

  }

  .modal-body_google:hover {
    filter: opacity(.8);
    transition: 1s;
  }

  .register-form {
    display: flex;
    align-items: center;
    flex-direction: column;

    .register-form_group {
      width: 100%;

      input {
        margin: 0 0 $margin-input 0;
        height: 5vh;
        border: 1px solid black;
        border-radius: 5px;
        text-align: center;
        font-size: 18px;
      }

    }

  }

  .modal-body_register {
    margin: 3% 0 5% 0;
  }
}

@media (max-width: 767px) {
  .modal-register-body {
    height: auto;
  }

  .modal-body_logo {
    max-width: 30%;
  }

  .modal-body_google {
    max-width: 15%;
  }

  .register-form_group input {
    width: 100%;
    font-size: 16px;
  }

  .modal-body_register {
    margin: 5% 0;
  }
}