@import '../variables';

.t-body-address {
  font-size: 14px;
}

.modal-address-body {
  padding: 1rem;
}

.small-input {
  width: 100%;
  max-width: 5rem;
}

.primary-button {
  display: flex;
  justify-content: center;
}

.address-table {
  display: flex;
  justify-content: space-around;
}

.address-table-scroll {
  height: 20vh;
  overflow-y: auto;
}

.address-table-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: $background-color;
}

.address-table-scroll::-webkit-scrollbar:vertical {
  width: 5px;
}

.address-table-scroll::-webkit-scrollbar-button:increment,
.address-table-scroll::-webkit-scrollbar-button {
  display: none;
}

.address-table-scroll::-webkit-scrollbar:horizontal {
  height: 5px;
}

.address-table-scroll::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.address-table-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
}

.address-table-scroll {
  overflow-x: auto;
  height: auto;
  margin-bottom: 5%;
}

.address-table {
  display: flex;
  flex-wrap: wrap;
}

.address-item {
  width: 40%;
  padding: 5px;
  border: 0.5px solid gray;
  border-radius: 4px;

  p {
    margin: 0;
  }
}

.address-item:not(:last-child) {
  margin-bottom: 2%;
}

.address-item_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address-item_details {
  display: flex;
  font-size: 0.8rem;
  gap: 1rem;
  width: 95%;
}

.loading-address {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 10vh;
}


@media only screen and (max-width: 992px) {
  .address-table {
    flex-direction: column;
  }

  .address-item {
    width: 100%
  }
}

@media only screen and (max-width: 466px) {
  .address-table {
    flex-direction: column;
  }

  .address-item {
    width: 100%
  }
}